.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  position: absolute;
  display: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
p {
  background-color: red;
  color: white;
  /* display: inline-block; */
  width: 180px;
  padding-left: 12px;
}
