div {
  border: 2px solid black;
  /* width: 700px; */
  /* margin: auto; */
}
div p {
  text-align: justify;
  /* display: inline-block; */
  /* max-width: 590px; */
}

img {
  width: 100px;
  height: 100px;
  float: right;
  /* display: inline-block; */
  /* margin-bottom: 18px; */
}
