.div-1 {
  background-color: lightgrey;
  width: 400px;
  height: 80px;
  border: 1px solid black;
  /* overflow: visible; */
  /*(da default value da) */
  /* overflow: hidden; */
  /* overflow: auto; */
  /* overflow: scroll; */
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
}
