h1 {
  background-color: cornflowerblue;
  font-family: "Nunito", sans-serif;
}
.para1 {
  font-weight: normal;
  /* font-weight: bold; */
  /* font-style: italic; */
  font-variant: normal;
  /* font-variant: small-caps; */
}
