h1 {
  text-decoration-line: underline;
  /* text-decoration-line: underline overline; */
}
h2 {
  text-decoration-line: line-through;
  text-decoration-color: red;
}
h3 {
  text-decoration-line: overline;
  text-decoration-color: green;
  text-decoration-style: wavy;
}
h4 {
  text-decoration: underline red double;
}
