h1 {
  text-align: center;
}
hr {
  width: 80%;
}
.counters {
  counter-reset: heading-no;
}
h2::before {
  counter-increment: heading-no;
  content: "heading-no" counter(heading-no) ": ";
}
