ul {
  background-color: green;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li a {
  display: inline;
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: lightgreen;
  color: black;
  /* border-radius: 6px; */
}
